# Proyek Analisis Data: Air Quality
- Nama: Moh. Hasbi Assidiqi
- Email: hasbi@pens.ac.id
- Id Dicoding: mohhasbias

## Menentukan Pertanyaan Bisnis

- Bagaimana Air Quality dari masing-masing area?
- Bagaimana Tren Air Quality dari masing-masing area dari waktu ke waktu?

## Menyiapkan semua library yang dibuthkan

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import os

## Data Wrangling

### Gathering Data

In [9]:
from fnmatch import fnmatch

files = os.listdir('data')
files

PRSA_CSV_Files = [file for file in files if fnmatch(file, 'PRSA*.csv')]

In [10]:
# read all files to dfg
df = pd.DataFrame()
for file in PRSA_CSV_Files:
    df_temp = pd.read_csv('data/'+file)
    df = pd.concat([df, df_temp])

df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,6.0,18.0,5.0,NaN,800.0,88.0,0.1,1021.1,-18.6,0.0,NW,4.4,Gucheng
1,2,2013,3,1,1,6.0,15.0,5.0,NaN,800.0,88.0,-0.3,1021.5,-19.0,0.0,NW,4.0,Gucheng
2,3,2013,3,1,2,5.0,18.0,NaN,NaN,700.0,52.0,-0.7,1021.5,-19.8,0.0,WNW,4.6,Gucheng
3,4,2013,3,1,3,6.0,20.0,6.0,NaN,NaN,NaN,-1.0,1022.7,-21.2,0.0,W,2.8,Gucheng
4,5,2013,3,1,4,5.0,17.0,5.0,NaN,600.0,73.0,-1.3,1023.0,-21.4,0.0,WNW,3.6,Gucheng

In [11]:
df.tail()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
35059,35060,2017,2,28,19,27.0,72.0,8.0,92.0,800.0,16.0,10.3,1014.2,-12.4,0.0,W,1.8,Shunyi
35060,35061,2017,2,28,20,47.0,55.0,17.0,86.0,1100.0,19.0,9.8,1014.5,-9.9,0.0,NW,1.5,Shunyi
35061,35062,2017,2,28,21,18.0,28.0,4.0,30.0,500.0,64.0,9.1,1014.6,-12.7,0.0,NE,1.7,Shunyi
35062,35063,2017,2,28,22,18.0,20.0,9.0,33.0,500.0,59.0,7.1,1015.2,-13.2,0.0,WNW,1.8,Shunyi
35063,35064,2017,2,28,23,15.0,22.0,13.0,34.0,500.0,60.0,7.4,1014.9,-11.9,0.0,N,1.4,Shunyi

### Assessing Data

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 420768 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   No       420768 non-null  int64
 1   year     420768 non-null  int64
 2   month    420768 non-null  int64
 3   day      420768 non-null  int64
 4   hour     420768 non-null  int64
 5   PM2.5    412029 non-null  float64
 6   PM10     414319 non-null  float64
 7   SO2      411747 non-null  float64
 8   NO2      408652 non-null  float64
 9   CO       400067 non-null  float64
 10  O3       407491 non-null  float64
 11  TEMP     420370 non-null  float64
 12  PRES     420375 non-null  float64
 13  DEWP     420365 non-null  float64
 14  RAIN     420378 non-null  float64
 15  wd       418946 non-null  object
 16  WSPM     420450 non-null  float64
 17  station  420768 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 61.0+ MB

In [13]:
df.isna().sum()

No             0
year           0
month          0
day            0
hour           0
PM2.5       8739
PM10        6449
SO2         9021
NO2        12116
CO         20701
O3         13277
TEMP         398
PRES         393
DEWP         403
RAIN         390
wd          1822
WSPM         318
station        0
dtype: int64

In [14]:
df.duplicated().sum()

0

In [15]:
df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,420768.000000,420768.000000,420768.000000,420768.000000,420768.000000,412029.000000,414319.000000,411747.000000,408652.000000,400067.000000,407491.000000,420370.000000,420375.000000,420365.000000,420378.000000,420450.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,79.793428,104.602618,15.830835,50.638586,1230.766454,57.372271,13.538976,1010.746982,2.490822,0.064476,1.729711
std,10122.116943,1.177198,3.448707,8.800102,6.922195,80.822391,91.772426,21.650603,35.127912,1160.182716,56.661607,11.436139,10.474055,13.793847,0.821004,1.246386
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.026500,100.000000,0.214200,-19.900000,982.400000,-43.400000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,20.000000,36.000000,3.000000,23.000000,500.000000,11.000000,3.100000,1002.300000,-8.900000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,55.000000,82.000000,7.000000,43.000000,900.000000,45.000000,14.500000,1010.400000,3.100000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,111.000000,145.000000,20.000000,71.000000,1500.000000,82.000000,23.300000,1019.000000,15.100000,0.000000,2.200000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,999.000000,999.000000,500.000000,290.000000,10000.000000,1071.000000,41.600000,1042.800000,29.100000,72.500000,13.200000

### Cleaning Data

In [16]:
df[df["PM2.5"].isna()]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
995,996,2013,4,11,11,NaN,30.0,8.000,19.0000,500.0,92.3202,13.8,1011.5,-13.3,0.0,NNW,1.6,Gucheng
996,997,2013,4,11,12,NaN,30.0,8.000,16.0000,NaN,97.8894,14.9,1010.4,-13.3,0.0,N,3.5,Gucheng
997,998,2013,4,11,13,NaN,27.0,7.000,13.0000,400.0,103.6728,16.4,1009.5,-13.1,0.0,NNW,2.3,Gucheng
998,999,2013,4,11,14,NaN,28.0,6.000,16.0000,400.0,103.2444,17.0,1008.7,-13.7,0.0,NE,2.7,Gucheng
999,1000,2013,4,11,15,NaN,69.0,4.284,15.1922,NaN,105.8148,17.1,1008.0,-13.7,0.0,W,3.3,Gucheng
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34880,34881,2017,2,21,8,NaN,NaN,NaN,NaN,NaN,NaN,-2.1,1029.7,-15.5,0.0,E,0.6,Shunyi
34883,34884,2017,2,21,11,NaN,NaN,NaN,NaN,NaN,NaN,-0.2,1028.9,-14.2,0.0,SE,1.3,Shunyi
34885,34886,2017,2,21,13,NaN,NaN,NaN,NaN,NaN,NaN,-0.1,1027.8,-8.5,0.0,S,3.6,Shunyi
34936,34937,2017,2,23,16,NaN,NaN,2.000,14.0000,300.0,84.0000,8.1,1022.5,-15.5,0.0,WNW,3.9,Shunyi
34937,34938,2017,2,23,17,NaN,NaN,2.000,17.0000,300.0,NaN,7.5,1022.2,-16.0,0.0,W,4.7,Shunyi

In [17]:
df["station"].value_counts()

station
Gucheng          35064
Huairou          35064
Tiantan          35064
Changping        35064
Guanyuan         35064
Nongzhanguan     35064
Wanliu           35064
Dongsi           35064
Wanshouxigong    35064
Aotizhongxin     35064
Dingling         35064
Shunyi           35064
Name: count, dtype: int64

In [18]:
df["PM2.5"].value_counts()

PM2.5
3.0      8810
10.0     7088
9.0      6886
8.0      6836
11.0     6831
         ...
13.8        1
881.0       1
41.2        1
60.5        1
692.0       1
Name: count, Length: 888, dtype: int64

In [19]:
# get most frequent value of PM2.5
df["PM2.5"].value_counts().index[0]

3.0

In [20]:
# get columns with missing values
columns_with_na = df.columns[df.isna().any()].tolist()
columns_with_na

['PM2.5',
 'PM10',
 'SO2',
 'NO2',
 'CO',
 'O3',
 'TEMP',
 'PRES',
 'DEWP',
 'RAIN',
 'wd',
 'WSPM']

In [21]:
# fill missing values with most frequent value
for column in columns_with_na:
    df[column].fillna(df[column].value_counts().index[0], inplace=True)
    
df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

In [22]:
# add new column date from year, month, day, hour
df["date"] = pd.to_datetime(df[["year", "month", "day", "hour"]])
df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,date
0,1,2013,3,1,0,6.0,18.0,5.0,16.0,800.0,88.0,0.1,1021.1,-18.6,0.0,NW,4.4,Gucheng,2013-03-01 00:00:00
1,2,2013,3,1,1,6.0,15.0,5.0,16.0,800.0,88.0,-0.3,1021.5,-19.0,0.0,NW,4.0,Gucheng,2013-03-01 01:00:00
2,3,2013,3,1,2,5.0,18.0,2.0,16.0,700.0,52.0,-0.7,1021.5,-19.8,0.0,WNW,4.6,Gucheng,2013-03-01 02:00:00
3,4,2013,3,1,3,6.0,20.0,6.0,16.0,300.0,2.0,-1.0,1022.7,-21.2,0.0,W,2.8,Gucheng,2013-03-01 03:00:00
4,5,2013,3,1,4,5.0,17.0,5.0,16.0,600.0,73.0,-1.3,1023.0,-21.4,0.0,WNW,3.6,Gucheng,2013-03-01 04:00:00

## Exploratory Data Analysis (EDA)

### Explore PM2.5 distribution for each station.
PM2.5 adalah partikel kecil yang dapat mencapai paru-paru dan bahkan aliran darah.
PM2.5 adalah indikator yang baik untuk mengukur polusi udara.
Semakin tinggi nilai PM2.5, semakin buruk kualitas udara.

## Visualization & Explanatory Analysis

### Pertanyaan 1:
Bagaimana Air Quality dari masing-masing area?

In [23]:
# get average of PM2.5 for each area
df_area = df.groupby("station")["PM2.5"].agg(['mean','std']).reset_index()
df_area

          station       mean        std
0    Aotizhongxin  80.669156  82.047267
1       Changping  69.596515  72.220640
2        Dingling  64.590090  72.060975
3          Dongsi  84.414816  86.485888
4        Guanyuan  81.529112  80.903847
5         Gucheng  82.362514  82.747628
6         Huairou  67.815537  71.080798
7    Nongzhanguan  83.372747  86.136267
8          Shunyi  77.499906  81.087367
9         Tiantan  80.636431  80.873388
10         Wanliu  82.499085  81.884362
11  Wanshouxigong  83.396004  85.883874

In [24]:
# create histogram of df_area
plt.figure(figsize=(10, 5))
plt.bar(df_area["station"], df_area["PM2.5"])
plt.xlabel("Area")
plt.ylabel("PM2.5")
plt.title("Rata-rata PM2.5 untuk setiap area")
plt.show()

KeyError: 'PM2.5'

In [ ]:
import plotly.express as px

# visualize PM2.5 over time for each area
df_reset_index = df.reset_index()

fig = px.line(df_reset_index, x="date", y="PM2.5", color="station", title="PM2.5 untuk setiap area", labels={"date": "Tanggal", "PM2.5": "PM2.5"})

fig.show()

### Pertanyaan 2:

Bagaimana Tren Air Quality dari masing-masing area dari waktu ke waktu?

In [ ]:
# Get average PM2.5 for each year
df_year = df.groupby("year")["PM2.5"].mean().reset_index()
df_year

In [ ]:
# create line plot of df_year
plt.figure(figsize=(10, 5))
plt.plot(df_year["year"], df_year["PM2.5"])
plt.xlabel("Tahun")
plt.ylabel("PM2.5")
plt.title("Rata-rata PM2.5 untuk setiap tahun")
plt.show()

## Conclusion

### Pertanyaan 1:
Bagaimana Air Quality dari masing-masing area?

- Dari hasil visualisasi, dapat dilihat bahwa rata-rata PM2.5 tertinggi ada di area Dongsi, dan rata-rata PM2.5 terendah ada di area Dingling.

### Pertanyaan 2:
Bagaimana Tren Air Quality dari masing-masing area dari waktu ke waktu?

- Dari hasil visualisasi, dapat dilihat bahwa rata-rata PM2.5 tertinggi ada di tahun 2017, dan rata-rata PM2.5 terendah ada di tahun 2016.